/*Edits Join US button*/
#joinButton a{
	background-color:#009BDE;
	border-radius: 4px;
}
 .navbar-nav a:hover {
        color: #009BDE;
 }
 .navbar-nav a.active {
        color: #009BDE;
    }

/*Effect Text*/
/*EFfect 1
@import url('https://fonts.googleapis.com/css?family=Cairo');


.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

.title p {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}
*/

@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

body {
  font-family: helvetica, arial, sans-serif;
  
}

.title p {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateX(-50%) translateY(-50%);
}

.title p:before,
.title p:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.title p:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.title p:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}
/*Welcome*/
/* NOTE: I only tested this on Google Chrome.*/



.containere{
	
	margin-left:3%;
	padding:25px;
	width:100%;
	text-align:center;
}

.containere h1:nth-child(1) {
  color: black;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: clamp(2vw,1.3vw,1.25vw);
  margin: 0 0 0 25%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  animation: type 2s steps(40,end) forwards;
}

.containere h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f4615c, #f23c3c,#f90000);
  font-weight: 800;
  font-size:clamp(6.4vw,5.32vw,5vw);  
  width: 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #009BDE;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid #009BDE;
  }
  100% {
    background-position: 400px ;
    opacity: 1;
    border-right: 2px solid red;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid #009BDE;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
	 100% {
    border-color: red;
  }
}
/*hi*/
