@media (max-width: 500px) {
  .image {
    border: 0;
    display: inline-block;
    position: relative;
  }
}
 


.flexboxbg{
	
	width:100%;
	background-color:white;
	border-top: 15px solid red;
}
.flexbox-container{
	margin:auto;
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	flex-wrap:wrap;
	width:99%;
	
		
}

.flexbox-item{
	margin:auto;
	
	width:49.5%;

}
.flexbox-item1{


}
.flexbox-item2{

	
	

	
	
}
.dox2{
	
	
	margin-top:10%;
	margin-left:-3%;
	padding:25px;
	width:100%;
	font-size:1.3vw;

}
#join{
	position:relative;
	background-color:#009BDE;
	
}
.conbox{
	background-color:white;
}

.sliderbg{
	position:relative;
	width:100%;
	height:100%;
	background-image: url("rsliderimg/csetn.jpg");
	background-repeat:no-repeat;
	background-color:black;
	background-size: 100% 100%;
	background-attachment: fixed;
	padding:0;
}

.contain{
	display: flex;
	align-items: center;
	overflow-y:hidden;
	height:60vh;
	overflow-x:hidden;
	padding:0px;
	width:100%;
	margin:auto;
	
}
.rotate-slider{
		justify-content::center;
		position:relative;
		margin: 5em auto;	
		max-width:100%;
		height:100%;
		
	}
.rotate-slider ul.slides{
		max-width:100%;
		height: 100%;
		margin: 0;
		
		padding: 0px;
		position: relative;
			top: 10%;
			left: 50%;
		-ms-transform-origin: center center;
		transform-origin: center center;
		width: 100%;
	}
	.rotate-slider ul.slides.animate{
		-webkit-transition: all 0.75s ease-in-out;
		transition: all 0.75s ease-in-out;
	}
	.rotate-slider ul.slides li{
		background-position: center;
		background-size: cover;
		display: block;
		color: #fff;
		list-style: none;
		position: absolute;
			top: 0;
			left: 50%;
		text-align: center;
		-ms-transform-origin: bottom center;
		transform-origin: bottom center;
		width: 100%;
	}
	.rotate-slider ul.slides li:nth-of-type(1){position:relative; background: url("rsliderimg/jpgimg/cset.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li:nth-of-type(2){background: url("rsliderimg/jpgimg/inside.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li:nth-of-type(3){background: url("rsliderimg/jpgimg/outside.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li:nth-of-type(4){background: url("rsliderimg/jpgimg/inside2.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li:nth-of-type(5){background: url("rsliderimg/outside2.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li:nth-of-type(6){background: url("rsliderimg/jpgimg/inside7.jpg");background-size:contain; background-repeat:no-repeat;border-radius:4px;}
	.rotate-slider ul.slides li .inner{
		
		padding: 2em;
		height: 100%;
		width: 100%;
	}
.image img {
  display: block;
}
.slide1{
	background:url("bgimg/ieeet.jpg");
	background-size:100% 100%; 
	background-repeat:no-repeat;
}
.slide2{
	background:url("bgimg/ieee2.png");
	background-size:100% 100%; 
	background-repeat:no-repeat;
	
}.slide3{
	background:url("bgimg/outside2.jpg");
	background-size:100% 100%; 
	background-repeat:no-repeat;
}









/* Sponsors slider */
.demo-row {
	background-color: #333;
	padding: 50px 0;
  }
.sponsor-feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#id-sponsors .carousel {
    margin-bottom: 20px;
}
#id-sponsors .item {
    padding-bottom: 20px;
}


/* 
**********Initial slideshow code**********
.slideshow{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
	
	
}
.slideshow-item{
	width:100%;
	height:inherit;
	position:absolute;
	opacity:0.7;
	animation: cycleImage 20s infinite;
	background-color:#000;
	
}
.slideshow-item:nth-child(1){
	animation-delay:0s;
}
.slideshow-item:nth-child(2){
	animation-delay:10s;
}

.slideshow-item img{
	/*height:100%;
	width:100%;
	
}
@keyframes cycleImage{
	25%{
		opacity:1;
	}
	40%{
		opacity:1;
	}
	
	
}
*/
/*play around later
.box1{
	position:relative;
	width:100%;
	height:70vh;
	padding:0;
}*/
@media only screen and (max-width: 800px) {
	body{
		
	}
	
  .flexbox-container{
	
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:100%;
	align-items:center;
	
}
.flexbox-item{
	
	width:100%;
	
}
.containere h1:nth-child(1) {
  color: black;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 4vw;
  margin: 0 0 0 25%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  animation: type 2s steps(40,end) forwards;
}

.containere h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f4615c, #f23c3c,#f90000);
  font-weight: 800;
  font-size:clamp(12.4vw,12.32vw,12vw);  
  width: 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}
.dox2{
	
		margin:auto;
	
	width:100%;
	

}

.dox2 p{
	
	font-size:5vw;
	
}


}

@media only screen and (max-height: 900px) and (max-width:600px){
.sliderbg{
	position:relative;
	
	background-image: url("rsliderimg/csetn.jpg");
	background-repeat:no-repeat;
background-size:cover;
background-position:center;
}
.contain{

	max-width:100%;
	height:auto;
	
}
#car{
	max-width:100%;
	height:auto;
}
}

