
.welcome img{
	display:flex;
	position:relative;
	margin:auto;
	width:30%;
	height:5%;
}
.txt{
	padding:10px;
}
<<<<<<< HEAD





@media only screen and (max-height:900px) and (max-width:700px) {
=======
h4{
	font-size:clamp(1.3vw,1.5vw,1.6vw);
}
p{
	font-size:15px;
}
@media only screen and (max-height: 900px) and (max-width:700px) {
>>>>>>> f4b1c03b208598768e8a4cecfd3a0d3f2966b173

#car{
	height:30vh;
}
.welcome img{
	display:flex;
	position:relative;
	margin:auto;
	width:80%;
	height:10%;
}
.txt{
	padding:15px;
}

}
/*SE verticle*/
@media only screen and (max-width:400px) {

#car{
	height:25vh;
}
<<<<<<< HEAD


}
/*SE Horrizontal*/
@media only screen and (max-width:680px) and (max-height:380px) {

#car{
	height:45vh;
}


}

@media only screen and (max-width:420px) {
	#car{
		height:20vh;
	}
}

@media only screen and (max-width:900px) and (max-height:420px) {


#car{
	height:60vh;
}
}
@media only screen and (max-width:830px) {
	#car{
		height:20vh;
	}
	
}

@media only screen and (max-width:1180px) and (max-height:820px) {


}
@media only screen and (max-width:912px) {
	#car{
		height:20vh;
	}

}

@media only screen and (max-width:730px) {
	#car{
		height:40vh;
	}
}
@media only screen and (max-width:280px) {
	#car{
		height:20vh;
	}
}
@media only screen and (max-width:420px) {
	#car{
		height:20vh;
	}
}
=======
}
>>>>>>> f4b1c03b208598768e8a4cecfd3a0d3f2966b173
