@media (max-width: 500px) {
  .image {
    border: 0;
    display: inline-block;
    position: relative;
  }
}
*{
	margin:0;
	padding:0;

}
body{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	overflow-x:hidden;
	font-family: helvetica;
	width:100%;

	
	
}

.navbar{
	background-color:rgb(1,30,65);
	height: 72px;
	width:100%;
	padding:20px;
	
}
.navbar-nav ul{
	list-style:none;
	background:#bdle43;
	padding:0;
	margin:0;
}

.navbar-nav a{
	display:block;
	text-decoration: none;
    color: white;
    text-align: center;	
	
}
.navbar-toggler{
	background-color:rgb(1,30,65);
    border: none;
    padding: 10px 6px;
    outline: none;
}

    .navbar-toggler span {
        display: block;
        width: 22px;
        height: 2px;
        border: 1px;
        background: white;
    }

        .navbar-toggler span + span {
            margin-top: 4px;
            width: 22px;
        }

            .navbar-toggler span + span + span {
                width: 22px;
            }

.navbar-collapse a {
    background: rgb(1,30,65);
    color: white;
	
 
    
}




 .navbar-nav a:hover {
        color: #009BDE;
 }
 .navbar-nav a.active {
        color: #009BDE;
    }

 .navbar-nav a:hover {
        color: #009BDE;
 }
 .navbar-nav a.active {
        color: #009BDE;
    }
/*Edits Join US button*/

/* Sponsors slider */
.demo-row {
	background-color: #333;
	padding: 50px 0;
  }
.sponsor-feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#id-sponsors .carousel {
    margin-bottom: 20px;
}
#id-sponsors .item {
    padding-bottom: 20px;
}
#id-sponsors .carousel-indicators {
    bottom: -25px;
}
#join{
	padding:10px;
	position:relative;
	background-color:#009BDE;
	border-bottom:15px solid red;
	text-align: center;
}
#joinButton a{
	background-color:#009BDE;
	border-radius: 4px;
}
#joinButton a:hover{
	background-color:white;
	color: #009BDE;
	border-radius: 4px;
}
#joinButton a.active{
	background-color:white;
	color: #009BDE;
	border-radius: 4px;
}
